<%= form_with(model: paste, local: true) do |form| %>
  <% if paste.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(paste.errors.count, "error") %> prohibited this paste from being saved:</h2>

      <ul>
      <% paste.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <div class="row m-2">
    <div class="col-3 text-center">
      <%= form.label :language, "Language: ", style: "margin-right:0.4rem", class: "font-weight-bold" %>
      <%= render "rouge-lexers" if @paste.lang? %>
      <% unless @paste.lang? %>
        <%= form.text_field :language, value: @paste.lang_styled, class: "form-control font-weight-bold", disabled: true %>
      <% end %>
    </div>
    <div class="col-3 text-center">
      <%= form.label :expired_at, "Expired in: ", style: "margin-right:0.4rem", class: "font-weight-bold" %>
      <%= render "expired" if @paste.expired? %>
      <% unless @paste.expired? %>
        <%= form.text_field :expired_at, value: @paste.counter.to_s + " Minutes" , class: "form-control font-weight-bold", disabled: true %>
      <% end %>
    </div>
    <div class="col-4 text-center">
      <%= form.label :title, "Optional Name: ", style: "margin-right:0.4rem", class: "font-weight-bold" %>
      <%= form.text_field :title, class: "form-control", placeholder: "Paste name" %>
    </div>
    <div class="col-2 text-center" style="margin-top:1.7rem;">
      <%= form.submit "Create Paste", class: "btn btn-primary float-right" %>
    </div>
  </div>
  <%= form.text_area :content, size: "24x6", class: "form-control" %>
<% end %>
