<p id="notice"><%= notice %></p>

<h1>Pastes</h1>

<table class="table">
  <thead>
    <tr>
      <th>ID</th>
      <th>Content</th>
      <th class="text-center">Options</th>
    </tr>
  </thead>

  <tbody>
    <% @pastes.each do |paste| %>
      <tr>
        <td><%= paste.id %></td>
        <td><%= paste.title %></td>
        <td class="text-center">
          <%= link_to 'Show', paste, class: "btn btn-warning" %>
          <%= link_to 'Edit', edit_paste_path(paste), class: "btn btn-info" %>
          <%= link_to 'Destroy', paste, method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-danger" %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Paste', new_paste_path, class: 'btn btn-primary' %>
