<% unless notice.nil? %>
<div id="notice" class="alert alert-warning alert-dismissible fade show my-2">
  <%= notice %>
  <button type="button" class="close" data-dismiss="alert" aria-label="Close">
      <span aria-hidden="true">&times;</span>
  </button>
</div>
<% end %>

<div class="card trans-light">
  <div class="row align-items-center">
    <div class="col-2 mx-2">
      <%= link_to 'New Paste', new_paste_path, class: 'btn btn-primary btn-block' %>
    </div>
    <div class="col-8">
      <h1 class="text-center font-weight-bold">Pastes</h1>
    </div>
    <div class="col-2">
    </div>
  </div>

  <% if @pastes.empty? %>
    <div class="mx-auto my-2">
      <h1>There is no something here! :(</h1>
    </div>
  <% else %>
  <table class="table">
    <thead>
      <tr>
        <th>ID</th>
        <th>Title</th>
        <th class="text-center">Options</th>
      </tr>
    </thead>

    <tbody>
      <% @pastes.each do |paste| %>
        <tr>
          <td><%= paste.id %></td>
          <td><%= paste.title %></td>
          <td class="text-center">
            <%= link_to 'Show', paste, class: "btn btn-warning" %>
            <%= link_to 'Edit', edit_paste_path(paste), class: "btn btn-info" %>
            <%= link_to 'Destroy', paste, method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-danger" %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
  <% end %>

</div>
