<!DOCTYPE html>
<html>
  <head>
    <title>RainPaste</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <link rel="shortcut icon" href="rpaste-favicon.ico" type="image/x-icon"/>
  </head>
  <body>
    <%= render 'layouts/navbar' %>
    <div class="container my-5">
      <%= yield %>
    </div>
    <footer class="fixed-bottom trans-light border-top border-info text-center">
      <a class="text-success" href="https://github.com/it6c65/rainpaste">Source Code</a>
      <span class="mx-2">|</span>
      <span class="font-weight-bold">License: MIT</span>
    </footer>
  </body>
</html>
